<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="app">
      <p>{{ messageFromVue }}</p>
    </div>

    <script src="/js/compressed/index.min.js" type="text/javascript"></script>
  </body>
</html>
